<template>
 <div>@copyright 2017 {{ region }}
    <button v-on:click='clickMe'>region</button>
 }
 }
 </div>
</template>

<script>
export default {
  props: [ 'region' ],
  methods: {
    clickMe () {
      console.log(this.region)
    }
  }
}
</script>

<style>
#footer {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
