<template>
 
 <div>
 <input type="text" v-model="newItem" v-on:keyup.enter="addNew"> 
   <h1>{{ msg }}</h1>
    <h2 v-html='myTest'></h2>
     <ul>
     <li v-for="item in items" v-bind:class="{ red: item.isTrue }" v-on:click="toggleTrue(item)"> {{ item.lable }} -->  {{ item.name }}</li>
    </ul>
    <my-footer region='中国云南省昆明市'></my-footer>
 </div>
  

</template>

<script>
import myFooter from '@/components/Footer.vue'
import Store from '@/store.js'
console.log(Store.fetch)
export default {
  name: 'test',
  data: function () {
    return {
      msg: 'message',
      myTest: '<h1>测试数据</h1>',
      items: Store.fetch(),
      newItem: ''
    }
  },
  watch: {
    items: {
      handler: function (items) {
        Store.save(items)
      },
      deep: true
    }
  },
  methods: {
    toggleTrue: function (item) {
      item.isTrue = !item.isTrue
    },
    addNew: function () {
      this.items.push({
        lable: 'input',
        name: this.newItem,
        isTrue: false
      })
      this.newItem = ''
    }
  },
  components: { myFooter }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
  width: 15rem;
  display: block;
}

li {
  display: inline-block;
  margin: 0 10px;
  clear: both;
  width: 10rem;
}

a {
  color: #42b983;
}
.red{ font-size: 1rem; color: red; }
.isTrue{ text-decoration: underline }
</style>
